language: python
python:
- '2.7'
- '3.4'
- '3.5'
- 3.5-dev
- nightly
before_install:
- export DJANGO_SETTINGS_MODULE=mysite.settings
install:
- pip install -r requirements.txt
- pip install coveralls
services:
- postgresql
before_script:
- psql -c "CREATE DATABASE travisdb;" -U postgres
script:
- python manage.py test service.tests
- coverage run --source=service manage.py test
after_success:
- coveralls
deploy:
  provider: heroku
  api_key:
    secure: h+B6fvBPx2YhH+bKwYWwp3IAqgdDiXdysLuHsjHMrBwIvDxfSPY7yCi0JywMbXBzUTf9X0zOY8M5IXsQ3C+46E3vYDHviwck+QnMrxNX+pLWbEgun3r3oyjvLygoUB23L8doWoIFIttfHyywmSB5E33j0GRxmIeUB3XqFFc515P4ZD+djjbuoNx8jSsLPrcyf5mzowSd6wWVbXHIaD349d6AYQmo7VmZKK0YxUqCgnnDHb9CR+gk4QxGFsZnbQR0wX4gzDtkEXT+Ng2crKyzjwassC6WAD3u8NMys7Rg42/lzk5D4mnUThsXDRDEdLPJ3idB4pKieVeH/U/yPBdJ8dZbx6fQ8/DMWTKPM+nT7dqH+jQmStLxfDM0XrPikDZswaQhyuofqul6xI5b2ronkdMzPaoBXN/tyUEXnfHUUjEfWu/o+CpoGOQoLmmv3/5/ElqufwoAjvp5zivMaVyTrxFG3MY1XHfETOr2M/91WDF3gahoOq3AJX9WKrbBAc6PoTy8q9Rc3ap38QtfD8pAvxAr5/Jp0SHfcVZ05o5HK/17xk4gbZa5wHZDiJSxcCG/NPzpNzSubw1pfnGOP7SUHr2JLf1Ln14mfWRut3cf2rsYRgPbhw1fWgEHSXjwc7z/6LUwbKlxtRMRZfZU2pMesr0Eeys6D1qKKWkSK/3TAug=
  app: zee-service-dev
  on:
    repo: zalokhan/Django-ServiceWebApp
env:
  global:
    # SECRET_KEY
    - secure: f8XQocnzR5I4cKdVOSQRq0zQ/2GuwC23oi/EvzVEnxAskQUFGTEFN3UDYob6haMsefsxphG+KZHNgsQu5L+mXemBF2SRTspXFhWNJ8HqAhngS/kwhjjbRW2tQoOZN+PXMETkZRCKkvg4XDVafD36gjJiTgveHIKXFsx2JB2NUyicUq7uY9V/Ir/y2yrMm/yqlCy11TAQw8dWum7AQuaZiZ/w6MSQUls2KWyhvzeYyMludC31kGmLv1YRGENFT8AXsxFfMw6hQ9KaL5lPpA1ZMj4AAV23+R17IJodtqrzXLYzNYX4uPbkRe6fpikD5lBiFbwZc7MpJ69aK2aRMfiE60HcD08l4lL6peoHEQGASvGzzC4Wv8GBvuSGfUxqX6traf9A481MCub7TmOiB9gULJQ1jYBpKXNWHe4hmVcwShCA0tKY8VXBgEScKwg5XubTocmV1Eyq2MH9QxUVTao77YYAG/O1JX4oU5RxaGfGM2Sns8LH/tIRG43CHRr4eGs1X/JQZDqYlV/VsGnFdpd8s4+/Vl5RAG1sd3evNhF9b2TucK1S0ccsjnDPGXMrvyNKcGld/pzQGk1zsQhLA8a6mp7W6PMWznAJHcHy9Kr/neOl8JYikTVHx3m8OAnm+Ae40UjWxxh1CSNSlYclnbhpG8i1jDM9kR7jW+eMvbld/JA=
    # SOCIAL
    - secure: c2w3z20e6l2bhJ4M6j0Uq2qGUFiWcsjFuq/x7FU36Z4vYIebNYWopgAxAMMbryNaT1xxmgUfQV9/QE2VS8FBbvxkabep9RFEaNE1YOG5/pi7+tnxhgL9tl7Assk+nhY9HiGLPVRcSSvTHYV4znriOP3Ffmv9u2p4KYjLNY4dwjrV6mTXAPgwg9M7duN1W3ocZtAUx5Xs+PUMAYqRwEZcN7jlPg7QvStpzEufkpREz8sVfgjv3DiBtUcl5NiXNw0WgYZ00yFpMaSOiB7BFE1GwuVkwhXeUHYFSna396pTAIKZyDZiXqnJukxblGVmHDWUm9msoqw8f7ICncyCW1zoMr2NLhzCH9lbhLEPiZCvBvhaSruQnfkd0P4nNf0DdyQOMmlEcCHrG7ASqlGnHmM+WpCpHuOnhagY5FYswHlEDGqNont0R1qfuVHqQTciaegVKThy4OizvpgOXvYfOZdz4o9R+U2ETG1Br4m7v1vilLskE59j8b3Ed+8ZCmQVGohZR9ecFEuIZwsvJwJ9T6JX/5acghHcbpQ+U7Hw8QlHYv3hHUhkeH/ErWK5xtbfA9bEEdIIsUMymSE5THoYWco7svskr/jOrd9sfRf5SnF5eKw/RRpgxf7B9VSSi47JX74d2sSrXrNzCze2c4YZlDue/QMF1tke4wi2ubtJVnCqrXM=
    - secure: WLgmAqyCyJ6Vf9lM8Diic19jNd4YQWnlpRIt3cqkJqYdNBwK9EfdKOv8P2GubEt6zkQptCgeaWlKDTitbV4Hq0y5ljHubkvAtaeRIxKMogawok0boc3Q+ZyqgHnWlJMRc7t4gJ0llN15L3nrgx/j8pTybQ22alESb+d5HzYTpa+p8k0tG0c3JbI5hW1RFFnEEZk1dGMWR1SZh4ewLbzdGVco0UI7V488pKRt7y5lFapf8z1gOMPpn/t0oVB01hMJzU4sUvuV0UMSto1iE6WokRBZ1gi7ZI9cmJN8eG2gPsTja6BQYVENMr1Nr/5QsBUt79xL21uwXiJ2X4qaY2CjbUhrzSVeUw4rHFLSkQ/y4iMGHY4LfVigskbW9WF9R/jn2isOfPSkNRKignkx/CISa1U+LPOpGifOC23tI1xAuRW6oLLDsK1VVInfT/YpEQPKhV+0M8QKQJ2bFJPcDeNnHIcdLC1P0QM59PKJUn87AnXZC8exXFC18Zxb3rlcw/5xqHo8moHKx3JTZnnmTqExOFNTAVFLkR/uTnA7vBVOu5yROQRcuM1do8fNj4EO5SMRh/QJTTq22UwBfMG/qlKslgujpZxyEpPm0TjWv+14jTxAnLL8AynF8KnGpnOaLD6TxzmqLbsYLfip+bZng8Ti69DUM5CKkLZTFD7A8gD6HTw=