{% extends "service/skeleton.html" %}
{% load static %}

{% block pre_head %}
<link rel="stylesheet" type="text/css" href="{% static 'service/stylesheets/cover_image.css' %}"/>
{% endblock %}

{% block body %}
<div class="k al apb aqx cover_image">
    <nav class="dt apr px tu app-navbar and">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand papyrus-navbar_h" href="/">Service</a>
            </div>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle papyrus-navbar" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false" style="background-color: transparent;">Sign in <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            {{ state }}
                            <form action="{% url 'service:login' %}" method="post" class="form-signin">
                                {% csrf_token %}
                                <div style="padding:2px 0px 2px 0px">
                                    <label for="inputUserID" class="sr-only">User ID</label>
                                    <input type="text" name="user_id" value="{{ user_id}}" class="form-control"
                                           placeholder="User ID"
                                           required
                                           autofocus>
                                </div>
                                <div style="padding:2px 0px 2px 0px">
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" name="password" value="{{ password}}" class="form-control"
                                           placeholder="Password"
                                           required
                                           autofocus>
                                </div>
                                <button class="button_dropdown" type="submit">Sign in</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'service:register' %}" class="papyrus-navbar"
                       style="background-color: transparent;">Sign up</a></li>
            </ul>

        </div><!-- /.container-fluid -->
    </nav>

    <h2 class="form-signin"> Welcome Home ! </h2>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript"> call_alert("{{alert_message}}", "{{alert_type}}") </script>
<script type="text/javascript">
    $(function(){
    $('#nav').hover(function(){
        $(this).animate({width:'200px'},500);
    },function(){
        $(this).animate({width:'35px'},500);
    }).trigger('mouseleave');
});


</script>
{% endblock %}
