.papyrus-h1 {
	font-family: Papyrus, fantasy;
	font-size: 50px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bolder;
	line-height: 26.4px;
	color: white
}
.papyrus-h3 {
	font-family: Papyrus, fantasy;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	color: white;
}
.papyrus-p {
	font-family: Papyrus, fantasy;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
.papyrus-blockquote {
	font-family: Papyrus, fantasy;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
.papyrus-pre {
	font-family: Papyrus, fantasy;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
.papyrus-navbar {
	font-family: Papyrus, fantasy;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
.papyrus-navbar_h {
	font-family: Papyrus, fantasy;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	line-height: 15.4px;
}